/* Add here all your CSS customizations */


.shop .cart-title {
	margin : 10px;
	margin-top: 20px;
}

.shop table.cart .product-bread {
	width: 15%;
	font-size: 9pt;
	color: gray;
}
.shop table.cart .product-add-ingredient {
	width: 15%;
	font-size: 9pt;
	color: gray;
}
.shop table.cart .product-sauce {
	width: 15%;
	font-size: 9pt;
	color: gray;
}
.shop table.cart .product-quantity {
	width: 15%;
}
.shop table.cart .product-subtotal {
	width: 20%;
}

.shop table.cart td.price_info {
	text-align: center;
}
	
.shop table.cart td.price_info p.all_price {
	font-size: 20px;	
}

.shop table.cart td.price_info p.all_price strong.price_all {
	color: red;
}

.shop .actions-continue{
	
	text-align: center;
}

.shop .actions-continue .cart-submit,
.shop .actions-continue .cart-button {
		
	width : 200px;
	height: 50px;
	
}
.body
	{
		min-width: 320px;
	}
 	.shop table.cart th.product-bread, .shop table.cart td.product-bread
	{
		display: none;
	}
 	.shop table.cart th.product-add-ingredient, .shop table.cart td.product-add-ingredient
	{
		display: none;
	} 
 	.shop table.cart th.product-sauce, .shop table.cart td.product-sauce
	{
		display: none;
	} 

#lnb {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 179px;
    /* display: block; */
}
#lnb > nav {
    /* display: block; */
}
#lnb > nav > ul {
    background: #fff;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
#lnb > nav > ul > li {
    border-bottom: 1px solid #cccccc;
}
li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}
#lnb > nav > ul > li > a {
    display: block;
    padding: 0 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    color: #222222;
    
}



/* Responsive */
/* 991  */
@media ( max-width : 991px) {
	#lnb {
		float: none;
		width: auto;
		border-bottom: 1px solid #ccc;
	}
	#lnb > nav {
	    height: 40px;
	    overflow: hidden;
	}
	#lnb > nav > ul {
		margin: 0;
	    padding: 0;
	    display: -webkit-flex;
	    display: flex;
	    overflow-x: auto;
	    overflow-y: hidden;
	    /* list-style:none;
	    padding-left: 0px; */
	    /* padding-left: 0px; */
	}
	#lnb > nav > ul > li {
	    position: relative;
	    -webkit-flex: none;
	    flex: none;
	    border-bottom: 0 none;
	}
	#lnb > nav > ul > li > a:hover, #lnb > nav > ul > li.active > a {
	    background: none;
	    color: #7aa93c;
	}
	#lnb > nav > ul > li > a {
	    font-size: 13px;
	    display: block;
	    padding: 0 15px;
	    font-weight: 600;
	    font-size: 14px;
	    line-height: 40px;
	    color: #222222;
		}
	#lnb > nav > ul > li:after {
	    content: '';
	    display: block;
	    width: 1px;
	    height: 40%;
	    position: absolute;
	    top: 30%;
	    right: 0;
	    background: #ddd;
	}
	
	.shop .actions-continue {
		float: none;
	}
	
	.shop .cart-submit, .shop .cart-button {
		width:100px;
	}
	
 	.shop table.cart td.product-bread
	{
		font-size: 6pt;
	} 
	
 	.shop table.cart td.product-add-ingredient
	{
		font-size: 6pt;
	} 
	
 	.shop table.cart td.product-sauce
	{
		font-size: 6pt;
	} 
	
	.shop table.cart .product-name {
		width: 169px;
	}
	
	.shop table.cart td.price_info {
		text-align: center;
	}
	
	.shop table.cart td.price_info p.all_price {
		font-size: 20px;
	}
	.shop table.cart td.price_info p.all_price strong.price_all {
		color: red;
	}
	
	.shop .actions-continue .cart-submit,
	.shop .actions-continue .cart-button {
		width : 150px;
		height : 40px;
	}
	
	
	.tabs.tabs-simple .nav-tabs > li a, .tabs.tabs-simple .nav-tabs > li a:hover, .tabs.tabs-simple .nav-tabs > li a:focus {
	padding: 0px 0px;
	background: none;
	border: 0;
	border-bottom: 3px solid #eee;
	border-radius: 0;
	color: #777;
	font-size: 14px;
	width:85.5px;

	}
	
	.featured-boxes-style-5 .featured-box .icon-featured, .featured-boxes-style-6 .featured-box .icon-featured, .featured-boxes-style-7 .featured-box .icon-featured {
	display: inline-block;
	font-size: 20px;
	height: 33px;
	padding: 0;
	width: 33px;
	margin-top: 0;
	margin-bottom: 10px;
	background: #FFF;
	border: 1px solid #dfdfdf;
	color: #777;
	line-height: 35px;
	}
	
	.tabs-center .nav-tabs {
	margin: 15px auto;
	text-align: center;	
	}
	
}

		
	
 	



